<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianji.promotion.mapper.ExchangeCodeMapper">
    <resultMap id="BaseResultMap" type="com.tianji.promotion.domain.po.ExchangeCode">
        <!--@mbg.generated-->
        <!--@Table tj_promotion.exchange_code-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="exchange_target_id" jdbcType="BIGINT" property="exchangeTargetId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="expired_time" jdbcType="TIMESTAMP" property="expiredTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, code, `status`, user_id, `type`, exchange_target_id, create_time, expired_time,
        update_time
    </sql>
</mapper>